<!-- INTERPOLACIÓN: {{ expresión }} muestra el valor de una propiedad -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Aquí se muestran las propiedades del componente en el template.</p>
      <ion-note>
        <strong>Título: </strong><em>{{titulo}}</em>
      </ion-note><br>
      <ion-note>
        <strong>Descripción: </strong><em>{{descripcion}}</em>
      </ion-note><br>
      <ion-note>
        <strong>Resultado de 3 x 4: </strong><em>{{3 * 4}}</em>
      </ion-note>
    </ion-card-content>
  </ion-card>

  <!-- PROPERTY BINDING [ ]: Vincula una propiedad del DOM a una variable -->


  <!-- EVENT BINDING ( ): Escucha eventos del DOM y llama a métodos -->


  <!-- COMPONENTES IONIC: ion-list, ion-item, ion-avatar, ion-badge -->


</ion-content>
